.articles-list {

  margin-top: em-calc(46px);

  article {
    padding-bottom: em-calc(120px);

    &:nth-last-child(-n+2) {
      padding-bottom: em-calc(46px);
    }
  }

  article header time {
    color: #999;
    font-size: em-calc(18px);
    text-rendering: optimizeLegibility;
  }

  article header h1 {
    font-size: em-calc(32px);

    margin-top: 0 !important;
    margin-bottom: em-calc(15px) !important;
  }

  article section a {
    border: 1px solid #008CBA;
    border-radius: em-calc(4px);

    padding: em-calc(10px) em-calc(16px);

    transition: background-color .2s, border-color .2s, color .2s;

    &:hover {
      background-color: rgba(67, 172, 106, 1);
      border-color: rgba(67, 172, 106, 1);
      color: #fff;
    }
  }

  article aside {
    border-left: 1px solid #eee;

    ul {
      margin-top: em-calc(10px);
      margin-bottom: em-calc(10px);
    }

    .row {
      border-bottom: 1px solid #eee;
      &:last-child { border: 0; }
    }

    .tags ul { margin-left: 0; margin-right: 0; }
    .tags li {
      &:nth-child(1n+1)     { margin: 0 em-calc(5px) 0 0; }

      a:after               { content: ","; }
      &:last-child a:after  { content: "";  }
    }
  }

  .pagination {
    border-top: 1px dotted #ccc;
    margin-top: em-calc(30px);
    padding-top: em-calc(10px);
  }

  // Not sure what to do with the sidebar yet!
  .sidebar {

    border-left: 1px dotted #ccc;
    border-right: 1px dotted #ccc;

    .row {
      border-bottom: 1px dotted #ccc;
      margin-bottom: em-calc(15px);

      &:last-child {
        border: 0;
        min-height: 400px;
      }
    }

  }
}

