.articles-list {

  margin-top: em-calc(46px);

  article { padding-bottom: em-calc(120px); }

  article header h1 {
    font-size: em-calc(32px);

    margin-top: 0 !important;
    margin-bottom: em-calc(15px) !important;
  }

  article section a:hover {
    border-bottom: 1px solid #ccc;
    padding-bottom: em-calc(4px);
  }

  article aside {
    border-left: 1px solid #eee;
    margin-top: em-calc(20px);

    ul {
      margin-top: em-calc(10px);
      margin-bottom: em-calc(10px);
    }

    .row {
      border-bottom: 1px solid #eee;
      &:last-child { border: 0; }
    }

    .date-published time:before,
    .category a:before,
    .tags li:nth-child(1) a:before {
      font-family: "foundation-icons";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;

      color: #555;
      padding-right: em-calc(8px);
      width: em-calc(20px);
    }

    // Published Date Icon
    .date-published time:before {
      content: "\f12b";
      margin-right: em-calc(-5px);
    }

    // Category Icon
    .category a:before { content: "\f168"; }

    // Add/Remove Padding & Margin to properly align multiline tags.
    .tags ul { margin-left: 0; padding-left: em-calc(20px); }
    .tags li {

      &:nth-child(1) a {
        margin-left: em-calc(-20px);

        // Tag Icon
        &:before { content: "\f19d"; }
      }

      &:nth-child(1n+1)       { margin: 0 em-calc(5px) 0 0; }

      a:after                 { content: ","; }
      &:last-child a:after    { content: "";  }
    }
  }

  .pagination {
    margin-bottom:  em-calc(46px);
    text-align: center;

    .columns {
      border-top: 1px dotted #bbb;
      padding-top: em-calc(20px);
    }
  }

}

.articles_categories,
.articles_tags {

  .articles-list {
    margin-top: 0;

    .article-types {
      text-align: center;
      margin-bottom: em-calc(46px) !important;
    }

    article { padding-bottom: em-calc(60px); }

    article header {
      h1 { margin-bottom: em-calc(0px) !important; }

      time {
        color: #999;
        display: block;
        font-size: em-calc(14px);
        margin-bottom: em-calc(5px) !important;
        text-rendering: optimizeLegibility;
      }
    }
  }

  .sidebar {
    margin-bottom: em-calc(46px);

    // Get these guys ready for their icons.
    .subscribe-via p,
    .subscribe-via li,
    .categories p,
    .tags p {
      &:before {
        font-family: "foundation-icons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        text-decoration: inherit;

        color: #555;
        padding-right: em-calc(8px);
        width: em-calc(20px);
      }
    }

    // Section Headings
    .subscribe-via,
    .categories,
    .tags {
      p {
        border-bottom: 1px dotted #ccc;
        margin-bottom: em-calc(15) !important;
        text-transform: lowercase;
        margin-top: em-calc(14);
      }
    }

    // Section Headings Icons
    .subscribe-via p:before { content: "\f11f"; }
    .categories p:before { content: "\f168"; }
    .tags p:before { content: "\f19d"; }

    .subscribe-via {
      p { margin-top: 0; }

      span {
        display: block;
        margin-bottom: em-calc(15px);
        text-transform: lowercase;
      }

      li {
        display: inline-block;
        text-align: left;
        width: 50%;

        &:first-child:before { content: "\f1aa"; } // RSS Icon
        &:last-child:before { content: "\f16d"; }  // Email Icon
      }
    }

    .subscribe-via ul,
    .categories ul,
    .tags ul {
      list-style: none;
      margin-left: 0;
    }

    .tags li {
      display: inline-block;
      text-align: center;
      width: 50%;

      sup {
        color: #999;
        font-style: italic;
      }
    }

  }

}

article.post header {
  h1 { margin-bottom: em-calc(5px) !important; }

  p, a { color: #999; }

  p {
    font-style: italic;
    font-size: em-calc(18px);
    text-transform: lowercase;
  }

  a { text-decoration: underline; }
}

article.post footer {
  p, a { color: #999 }

  p {
    font-style: italic;
    font-size: em-calc(18px);
    text-transform: lowercase;
  }

  a {
    text-decoration: underline;

    &:after { content: ","; }
    &:last-child:after { content: ""; }
  }
}

#mc_mini_embed_signup {
  * {
    font-family: 'Source Sans Pro', 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: em-calc(20);
    font-weight: normal;
  }

  margin-top: em-calc(-10px);

  #mce-EMAIL { height: em-calc(40); }
  #mc-embedded-subscribe { margin-top: em-calc(-4); }

  div.mce_inline_error {
    font-weight: normal !important;
    margin-top: em-calc(-10px);
    padding-bottom: em-calc(15px);
  }

  #mce-responses * { margin-top: em-calc(15px); }

  div.mce_inline_error, #mce-responses * {
    background: none;

    font-size: em-calc(16px);
    font-style: italic;
  }

  #mc-embedded-subscribe { margin-bottom: 0; }
}
