// Helper function
@mixin clearfix() {
    *zoom:1;
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
}

.index .content {
    p strong { text-transform: lowercase; }

    .intro {
        border-bottom: 1px dotted #ccc;
        margin-bottom: em-calc(35);

        h1, p { text-align: center; }
    }

    .who-am-i {

        .short-bio { margin-bottom: em-calc(14); }

        #what-i-do {
            list-style: none; 
            margin-left: 0;
            @include clearfix();

            li {
                height: em-calc(200);
                width: em-calc(300);
                border: 3px double #eee;
                border-radius: 6px;
                padding-top: em-calc(25);

                float: left;
                margin-right: em-calc(35);
                &:last-child { margin: 0; }

                text-align: center;

                img {
                    display: block;
                    margin: auto;
                }

                strong {
                    display: block;
                    margin-top: em-calc(10);
                    text-transform: lowercase;
                }
            }
        }
    }

    .newsletter-and-reading {
        margin-top: em-calc(14);

        p {
          border-bottom: 1px dotted #ccc;
          margin-bottom: em-calc(15) !important;
          // padding-bottom: em-calc(14);
        }

        .newsletter .columns p {
          border: 0;
          margin: 0 !important;
          padding: 0 !important;
        }
        .newsletter .columns strong { text-transform: capitalize; }

        .currently-reading {
            .book {
                @include clearfix();
                line-height: em-calc(20);
                padding-bottom: em-calc(15);

                img { float: left; padding-right: em-calc(10); }
                span { display: block; }

                &:last-child { padding: 0; }
            }
        }
    }
}

.index footer { margin-top: em-calc(46); }

#mc_embed_signup {
  * {
    font-family: 'Source Sans Pro', 'Lucida Grande', Tahoma, Verdana, sans-serif;
    font-size: em-calc(20);
    font-weight: normal;
  }

  margin-top: em-calc(25);

  #mce-EMAIL { height: em-calc(40); }
  #mc-embedded-subscribe { margin-top: em-calc(-4); }

  div.mce_inline_error {
    font-weight: normal !important;
    font-style: italic;
  }
}
