.work .project {
  border-bottom: 1px dotted #bbb;
  margin-bottom: em-calc(75);
  padding-bottom: em-calc(75);
}
.work .nahdi-amal-web {
  border: 0 none;
  padding: 0;
}

.work .sift-app .intro { margin-top: em-calc(100); }
.work .currrva-app .intro { margin-top: em-calc(100); }
.work .haweee-app .intro { margin-top: em-calc(60); }
.work .nahdi-amal-web .intro { margin-top: em-calc(40); }

.work .project .intro {
  img { margin-top: em-calc(-6); }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li { margin-bottom: em-calc(10); }
    a { padding-left: em-calc(5); }
  }
}

.work .more-work {
  border: 1px solid #999;
  display: block;
  margin: em-calc(30) 0;
  padding: em-calc(10) 0;
  text-align: center;

  &:hover {
    background: #008CBA;
    color: #fff;
  }
}
