---
title: Blog - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1
      Hmm, nothing to see here yet, keep moving bub!
    %p
      though, in the meantime, how about you follow me on
      %a{ href: "http://twitter.com/ubax" } Twitter
      to see what i'm up to.
