---
title: Contact Me - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1
      Get in touch with me

    :markdown
      You can find me on [Twitter](https://twitter.com/ubax) or shoot me an email at [me@usmanbashir.com](mailto:me@usmanbashir.com).

    %h2 networking
    %p
      If you're based in Jeddah, don't be a stranger. Let's grab a coffee or a yogurt. I love to network.

    %h2 work 
    %p
      So, you've got a project in mind and feel I can help you with it?
      Cool, don't hesitate, I would love to hear about it and see what I can do.
    %p
      Just fill out this 
      %a{ href: "https://docs.google.com/spreadsheet/viewform?usp=drive_web&formkey=dGc5MXNLM2xsSDNGbDE2ODFXZ2hiQVE6MQ" } diabolically long form 
      or send me an email and I'll reply back as soon as possible, though it usually takes about 1-3 business days.
