---
title: Usman Bashir, your galactic alien friend!
---
.row.content
  .large-12.columns
    .row
      .large-10.large-centered.columns
        .intro
          %h1
            Hello, I'm Usman. I build products.
          %p
            And, I can help you with your next project.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              I'm a full-stack software developer, a budding UX designer and an entrepreneur based in Saudi Arabia.
          .large-4.columns
            %p
              I've been programming since I was 13 years old &amp; creating meaningful user experiences for over a decade.
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "my work", "/work"
              , learn more 
              = link_to "about me", "/about-me"
              and see what
              = link_to "I'm up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications
                %img{ src: "images/icons/web_applications.png", height: "110px" }
                %strong
                  Web Applications
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.work-and-reading
      .large-8.columns.recent-work
        %p
          %strong Recent Work
        .row
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Amal-WIP/11836419" }
              %img{ src: "images/work/projects/nahdi-amal.png", alt: "Nahdi Amal", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/Nahdi-Full-of-Hope/8947215" }
              %img{ src: "images/work/projects/nahdi.png", alt: "Nahdi - Full of Hope", width: "202px" }
          .large-4.columns
            %a{ href: "https://www.behance.net/gallery/3N-Jeddah/3609895" }
              %img{ src: "images/work/projects/3n-jeddah.png", alt: "3N Jeddah", width: "202px" }
      .large-4.columns.currently-reading
        %p
          %strong Currently Reading
        .book
          %a{ href: "https://www.goodreads.com/book/show/55030.Cosmos" }
            %img{ src: "//d.gr-assets.com/books/1388620656l/55030.jpg", alt: "Cosmos", width: "68px" }
            Cosmos
          %span by Carl Sagan
        .book
          %a{ href: "https://www.goodreads.com/book/show/21411877-zen-pencils" }
            %img{ src: "//d.gr-assets.com/books/1394989489l/21411877.jpg", alt: "Zen Pencils: Cartoon Quotes from Inspirational Folks", width: "68px" }
            Zen Pencils
          %span by Gavin Aung Than
