---
title: Usman Bashir, your galactic alien friend!
---
.row.content
  .large-12.columns
    .row
      .large-10.large-centered.columns
        .intro
          %h1
            Hello, I'm Usman. I build products.
          %p
            And, I can help you with your next project.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              I'm a full-stack software developer, a UX designer and an entrepreneur based in Saudi Arabia.
          .large-4.columns
            %p
              I've been programming since I was 13 years old &amp; creating meaningful user experiences for over a decade.
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "my work", "/work"
              , learn more 
              = link_to "about me", "/about-me"
              and see what
              = link_to "I'm up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications
                %img{ src: "images/icons/web_applications.png", height: "110px" }
                %strong
                  Web Applications
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.newsletter-and-reading
      .large-8.columns.newsletter
        %p
          %strong Subscribe to my Newsletter
        .row
          .large-12.columns
            %p
              I'll be sending out a irregular newsletter soon, called 
              %strong "Bits &amp; Bytes".
              Each issue will feature a roundup of blog posts and links from this site as well as exclusive newsletter only content. In addition, I'll be sharing details of new products and projects I'll be working on.
            = partial "newsletter"
      .large-4.columns.currently-reading
        %p
          %strong Currently Reading
        .book
          %a{ href: "https://www.goodreads.com/book/show/23588216-responsible-responsive-design" }
            %img{ src: "//d.gr-assets.com/books/1416385239l/23588216.jpg", alt: "Responsible Responsive Design", width: "80px" }
            Responsible Responsive Design
          %span by Scott Jehl
        .book
          %a{ href: "https://www.goodreads.com/book/show/55030.Cosmos" }
            %img{ src: "//d.gr-assets.com/books/1388620656l/55030.jpg", alt: "Cosmos", width: "80px" }
            Cosmos
          %span by Carl Sagan
