---
title: Usman Bashir, your galactic alien friend!
per_page: 6
---
.row.content
  .large-12.columns
    .row
      .large-10.large-centered.columns
        .intro
          %h1
            Hello, I'm Usman. I build products.
          %p
            I’m a full-stack software developer, ux designer and an entrepreneur.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-12.columns
            %p
              I enjoy solving problems holistically using my multidisciplinary background to help businesses, agencies and startups grow. I've been involved in the industry for over a decade, bringing both large and small websites and products to life, that work on any type and size of device.
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications
                %img{ src: "images/icons/web_applications.png", height: "110px" }
                %strong
                  Web Applications
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.articles-and-reading
      .large-8.columns.recent-articles
        %p.heading
          %strong my recent articles
        .row
          .large-6.columns.list
            - page_articles.each do |article|
              .item
                = link_to article.title, article
          .large-6.columns.email-list
            %p
              Want new articles before they get published? I usually send out these articles and other updates to my personal mailing list first.
            %p
              Become a friend and
              %strong
                = link_to "join my personal mailing list.", "/newsletter"

      .large-4.columns.currently-reading
        %p.heading
          %strong Currently Reading
        .book
          %a{ href: "https://www.goodreads.com/book/show/414999.Childhood_s_End" }
            %img{ src: "//d.gr-assets.com/books/1320552628l/414999.jpg", alt: "Childhood's End", width: "80px" }
            Childhood's End
          %span by Arthur C. Clarke
        .book
          %a{ href: "https://www.goodreads.com/book/show/24591772-hatching-twitter" }
            %img{ src: "//d.gr-assets.com/books/1381332539l/18656827.jpg", alt: "Hatching Twitter", width: "80px" }
            Hatching Twitter
          %span by Nick Bilton
