---
title: Usman Bashir, your galactic alien friend!
---
.row.content
  .large-12.columns
    .row
      .large-10.large-centered.columns
        .intro
          %h1
            Hello, I'm Usman. I build products.
          %p
            I’m here to bring your mobile and web projects to life.
    .row
      .large-12.columns.who-am-i
        .row.short-bio
          .large-4.columns
            %p
              I'm a full-stack software developer, a UX designer and an entrepreneur based in Saudi Arabia.
          .large-4.columns
            %p
              I've been programming since I was 13 years old &amp; creating meaningful user experiences for over a decade.
          .large-4.columns
            %p
              While you're here, checkout some of
              = link_to "my work", "/work"
              , learn more 
              = link_to "about me", "/about-me"
              and see what
              = link_to "I'm up to.", "/blog"
        .row
          .large-12.columns
            %ul#what-i-do
              %li.web-applications
                %img{ src: "images/icons/web_applications.png", height: "110px" }
                %strong
                  Web Applications
              %li.mobile-app-development
                %img{ src: "images/icons/mobile_app.png", height: "110px" }
                %strong
                  Mobile Apps
              %li.project-management
                %img{ src: "images/icons/project_management.png", height: "110px" }
                %strong
                  Project Management
    .row.newsletter-and-reading
      .large-8.columns.newsletter
        %p
          %strong Subscribe to my Newsletter
        .row
          .large-12.columns
            %p
              I'll be sending out a irregular newsletter soon, called 
              %strong "Bits &amp; Bytes".
              Each issue will feature a roundup of blog posts and links from this site as well as exclusive newsletter only content. In addition, I'll be sharing details of new products and projects I'll be working on.
            = partial "newsletter"
      .large-4.columns.currently-reading
        %p
          %strong Currently Reading
        .book
          %a{ href: "https://www.goodreads.com/book/show/15241.The_Two_Towers" }
            %img{ src: "//d.gr-assets.com/books/1298415523l/15241.jpg", alt: "The Two Towers (The Lord of the Rings #2)", width: "80px" }
            The Two Towers - The Lord of the Rings
          %span by J.R.R. Tolkien
        .book
          %a{ href: "https://www.goodreads.com/book/show/1741472.Programming_Collective_Intelligence" }
            %img{ src: "//d.gr-assets.com/books/1371685521l/1741472.jpg", alt: "Programming Collective Intelligence: Building Smart Web 2.0 Applications", width: "80px" }
            Programming Collective Intelligence: Building Smart Web 2.0 Applications
          %span by Toby Segaran
