---
title: Work - Usman Bashir
---
.row.content
  .large-10.large-centered.columns
    %h1 Some of my recent work
    .row.project.sift-app
      .large-6.columns.intro
        %h2
          Sift
        %p
          Sift helps you make quick decisions about the content you come across daily. You can later "Sift" through them and save the ones that pique your interest. Read reviews and more about your items and decide which ones to keep and which ones to discard.
      .large-6.columns.screenshots
        %img{ src: "images/work/projects/sift-app.png", alt: "Sift App", width: "363px" }
    .row.project.currrva-app
      .large-6.columns.intro
        %h2
          %img{ src: "images/work/projects/currrva-logo.png", alt: "Currrva Logo", width: "42px" }
          Currrva Scoreboard
        %p
          Currrva allows players of soccer video games (e.g. EA FIFA franchise) to record their results against their friends. From the games played and scorelines, Currrva provides visualizations and graphs for the data provided including: playing form, goals conceded, clean sheets, unbeaten runs.
        %ul
          %li.fi-video
            %a{ href: "#", data: { reveal_id: "videoModal" } }
              Take a sneak peek
          %li.fi-web
            %a{ href: "http://www.currrva.com/" }
              Visit Website
      .large-6.columns.screenshots
        %img{ src: "images/work/projects/currrva-app.png", alt: "Currrva Scoreboard App", width: "363px" }

    .row.project.haweee-app
      .large-6.columns.intro
        %h2
          %img{ src: "images/work/projects/haweee-logo.png", alt: "Haweee Logo", width: "42px" }
          Haweee
        %p
          Haweee is a soccer/football app that helps you and your friends organize, manage and play soccer. Anywhere, any place.
        %ul
          %li.fi-web
            %a{ href: "http://www.haweee.com/" }
              Visit Website
      .large-6.columns.screenshots
        %img{ src: "images/work/projects/haweee-app.png", alt: "Haweee App", width: "416px" }

    .row.project.nahdi-amal-web
      .large-6.columns.intro
        %h2
          Nahdi Amal
        %p
          Nahdi Amal was a CSR campaign to encourage users to sign up for the fight against diabetes using social networks and having them carry out a pledge of their choosing to help the fight and sharing it with their friends.
        %ul
          %li.fi-web
            %a{ href: "https://www.behance.net/gallery/11836419/Nahdi-Amal" }
              Visit Website
      .large-6.columns.screenshots
        %img{ src: "images/work/projects/nahdi-amal-web.png", alt: "Nahdi Amal Website", width: "416px" }

    %a{ href: "https://www.behance.net/usman", class: "more-work" }
      checkout rest of my work on behance

#videoModal.reveal-modal.medium{ data: { reveal: true } }
  %h2
    Currrva Sneak Peek
  <iframe width="100%" height="600" src="//www.youtube.com/embed/nK_d786NJqk" frameborder="0" allowfullscreen></iframe>
  %a{ class: "close-reveal-modal" }
    &#215;
